{% extends 'base.html.twig' %}
{% block title %}
	{{parent()}}Certifications
{% endblock %}
{% block body %}
	<h1 class="text-center mt-4 pt-4 display-1 fw-bold lilita fs-1 nc">Certifications</h1>
{% endblock %}
