.custom-btn {
    background-color: #1D395F; 
    color: white; 
    border: none;
    margin-bottom: 60px;
    font-size: 18px;
}

.custom-btn:hover {
    background-color: #3576d1;
    color: white;
}

.nc {
    color: #000000;
}

.custom-border {
    border-left: 4px solid #000000; 
    height: 100%;
}

.mt-h2 {
    margin-top: 50px;
}

.mb-h2 {
    margin-bottom: 20px;
}

li {
    margin-bottom: 20px; /* Espacement entre les éléments de la liste */
}

span {
    display: block; 
    margin-top: 5px; 
    color: #333; 
    padding-left: 40px;
    font-size: 19px;
}

.col-ver {
    margin-bottom: 40px;
}

.comp-mt {
    margin-top: 100px;
}

.savoir-etre-text {
    margin-bottom: 30px;
}

.savoir-faire-mb {
    margin-bottom: 60px;
}

.icon-width {
    width: 75px;
}

.table-bor {
    border: 1px #000000;
}

.custom-border-table {
    border: 2px solid black; 
    padding: 15px;
}

.icon-padding {
    margin-left: 15px;
    margin-right: 15px;
}

.text-eo {
    margin-top: 5px;
}

.mtbtn {
    margin-top: 20px;
}

.title_skill {
    margin: 10px 0 25px 45px;
    text-decoration-line: underline;
    text-decoration-style: solid;
    text-decoration-thickness: 3px;
}

.et_ou {
    font-size: 19px;
}

.title_h6savoirf {
    margin: 5px;
    padding: 10px 0 10px 0;
}