.row {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap; 
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 160px; 
    overflow: hidden;
    flex-grow: 1; 
    margin-bottom: 30px; 
}

.card-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 15px;
    flex-grow: 1;
}

.card a {
    text-decoration: none;
    color: inherit; 
    display: flex;
    flex-direction: column;
    height: 100%; 
}

.card:hover {
    transform: translateY(-10px);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
    background-color: #3576d1d4;
}

.tb {
    color: #000; 
}

.titlenbr_stage {
    color: #000; 
    text-decoration-line: underline;
    text-decoration-style: solid;
    text-decoration-thickness: 3px;
    margin-top: 10px;
}

.title-stage {
    margin-top: 60px;
    margin-bottom: 20px;
    text-decoration: underline;
}

.periode-stage {
    font-size: 15px;
    margin-top: 10px;
}

.titre_stage {
    margin-bottom: 50px;
    margin-top: 30px;
}

.description_stage {
    font-size: 18px;
    line-height: 1.6; 
    text-align: justify; 
    margin-bottom: 20px;
}

.periode-text {
    font-size: 16px;
    margin-bottom: 50px;
}

.rela-stage {
    margin-top: 60px;
    margin-bottom: 20px;
    text-decoration: underline;
}

.project-image {
    width: 100%; 
    max-width: 450px;
    height: auto; 
    border-radius: 8px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.text-desc {
    margin-right: 10px;
}

.custom-btn {
    background-color: #1D395F; 
    color: white; 
    border: none;
    font-size: 18px;
}

.custom-btn:hover {
    background-color: #3576d1;
    color: white;
}

.text-eo {
    margin-top: 8px;
}

.textenbr_stage {
    font-weight: bold;
    color: #333;
    font-family: Arial, sans-serif; 
    font-size: 19px;
}

.custom-border {
    width: 4px; 
    background-color: #000;
    margin: auto; 
    height: 540px;
    min-height: 50px;
}

.col-ver {
    margin-bottom: 40px;
}

.et_ou {
    font-size: 19px;
}

.btn-marginbot {
    margin-bottom: 40px;
}

.project-image {
    width: 140%;
    height: 300px;
    object-fit: cover; 
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.justification_titre {
    font-weight: bold;
    color: #000;
    text-align: center;
    margin-bottom: 10px;
    margin: 20px 0 10px 0;
}

.justification-text {
    font-size: 15px;
    margin-bottom: 10px;
}

.img-fluid {
    max-width: 100%;
    height: auto;
    margin-bottom: 20px;
}

.justification_competence_nom {
    margin-left: 20px;
    text-decoration: underline;
}